*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('wing.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    animation: animateBg 3s linear infinite;

}

@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
}
.login-box{
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}
h1{
    font-size: 2em;
    color: white;
    text-align: center;
}
.input-box{
    width: 310px;
    margin: 20px 0px;
    border-bottom: 2px solid white;
}
.input-box label1{
    position: absolute;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
}
label{
    color: white;
}
.input-box input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1empx;
    color: #fff;
}
.input-box icon{
    color: #fff;
}
button{
    width: 100%;
    margin-top: 30px;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 40px;
    outline: none;
    border: none;
    background: rgb(237, 231, 231);
}
button a{
    text-decoration: none;
    color: black;
}
button:hover{
    background: rgb(24, 183, 69);
}

@media (max-width: 360px) {
    .login-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .input-box {
        width: 290px;
    }
}